<h3>我的微信公众号</h3>
<a href="https://mp.weixin.qq.com/s/rwBIqYbjfznmdUyhnu4Pzw" target="_blank" class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" >
            <div class="card-image-cell">
                <h3 class="card-title">
                    东坡黑客
                </h3>
            </div>
        </div>
        <div class="caption">
            <!-- <div class="card-description">
                <p class="card-text">微信公众号</p>
            </div> -->
            <div class="card-text">
                
                <img style="height:80%;width:80%" src="https://files.mdnice.com/user/19213/554a6406-62c6-4e11-ac1e-b17019ed6754.png" alt="" />


            </div>
        </div>
    </div>
</a>
